In [1]:
# 10. 行数のカウント

In [3]:
import urllib.request
with urllib.request.urlopen('http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt') as response:
    raw_text = response.read()
    text = raw_text.decode()
text_line_count = 0
for text_line in text.splitlines():
    text_line_count += 1
print(text_line_count)

24

In [3]:
# 11. タブをスペースに置換

In [4]:
space_separeted_text = text.replace('\t', ' ')
print(space_separeted_text)

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [5]:
# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [6]:
col1_words = []
col2_words = []
for text_line in text.splitlines():
    words = text_line.split('\t')
    col1_words.append(words[0])
    col2_words.append(words[1])
col1_text = '\n'.join(col1_words)
col2_text = '\n'.join(col2_words)
#print(col1_text)
#print(col2_text)
with open('col1.txt', mode='w') as f1, open('col2.txt', mode='w') as f2:
    f1.write(col1_text)
    f2.write(col2_text)
with open('col1.txt', mode='r') as f1, open('col2.txt', mode='r') as f2:
    print('=== 1列目 ===')
    print(f1.read())
    print('=== 2列目 ===')
    print(f2.read())

=== 1列目 ===
高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
=== 2列目 ===
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [7]:
# 13. col1.txtとcol2.txtをマージ

In [8]:
col1_text = ''
col2_text = ''
with open('col1.txt', mode='r') as f1, open('col2.txt', mode='r') as f2:
    col1_text = f1.read()
    col2_text = f2.read()
col1_words = col1_text.splitlines()
col2_words = col2_text.splitlines()
col1and2_words = zip(col1_words, col2_words)
col1and2_lines = []
for col1and2_word in col1and2_words:
    col1and2_lines.append('\t'.join(col1and2_word))
col1and2_text = '\n'.join(col1and2_lines)
with open('col1and2.txt', mode='w') as f:
    f.write(col1and2_text)
with open('col1and2.txt', mode='r') as f:
    print(f.read())

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

In [9]:
# 14. 先頭からN行を出力
def print_head(n):
    loop_cnt = 1
    for line in text.splitlines():
        if loop_cnt > n:
            break
        loop_cnt += 1
        print(line)

print('> print_head(0)')
print_head(0)
print('> print_head(1)')
print_head(1)
print('> print_head(5)')
print_head(5)
print('> print_head(100)')
print_head(100)

> print_head(0)
> print_head(1)
高知県	江川崎	41	2013-08-12
> print_head(5)
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
> print_head(100)
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [18]:
# 15. 末尾のN行を出力
def print_tail(n):
    loop_cnt = 1
    rlines = text.splitlines()
    rlines.reverse()
    for line in rlines:
        if loop_cnt > n:
            break
        loop_cnt += 1
        print(line)

print('> print_tail(0)')
print_tail(0)
print('> print_tail(1)')
print_tail(1)
print('> print_tail(5)')
print_tail(5)
print('> print_tail(100)')
print_tail(100)

> print_tail(0)
> print_tail(1)
愛知県	名古屋	39.9	1942-08-02
> print_tail(5)
愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
> print_tail(100)
愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	酒田	40.1	1978-08-03
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
埼玉県	越谷	40.4	2007-08-16
山梨県	勝沼	40.5	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	甲府	40.7	2013-08-10
山形県	山形	40.8	1933-07-25
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
高知県	江川崎	41	2013-08-12

In [22]:
# 16. ファイルをN分割する
def my_spilt_line(n):
    lines = text.splitlines()
    splitted_line_num = len(lines) // n
    splitted_lines = []
    for i in range(0, len(lines), splitted_line_num):
        splitted_lines.append(lines[i:i+splitted_line_num])
    return splitted_lines

print("> 2分割")
divide2_lines = my_spilt_line(2)
for lines in divide2_lines:
    print('----------')
    for line in lines:
        print(line)

print("> 3分割")
divide3_lines = my_spilt_line(3)
for lines in divide3_lines:
    print('----------')
    for line in lines:
        print(line)
        
print("> 5分割")
divide5_lines = my_spilt_line(5)
for lines in divide5_lines:
    print('----------')
    for line in lines:
        print(line)

> 2分割
----------
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
----------
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
> 3分割
----------
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
----------
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
----------
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02
> 5分割
----------
高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
----------
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
----------
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
----------
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
----------
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
----------
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [23]:
# 17. １列目の文字列の異なり
def get_uniq_col1():
    col1_words = []
    for text_line in text.splitlines():
        words = text_line.split('\t')
        col1_words.append(words[0])
    col1_set = set(col1_words)
    return col1_set

print(get_uniq_col1())

{'岐阜県', '千葉県', '山梨県', '愛媛県', '大阪府', '愛知県', '群馬県', '山形県', '埼玉県', '静岡県', '高知県', '和歌山県'}

In [43]:
# 18. 各行を3コラム目の数値の降順にソート
from decimal import Decimal

def sort_col3_desc():
    col3_dict = dict()
    for text_line in text.splitlines():
        words = text_line.split('\t')
        col3_num = Decimal(words[2])
        if col3_num in col3_dict:
            tmp_list = col3_dict[col3_num]
            tmp_list.append(text_line)
            col3_dict[col3_num] = tmp_list
        else:
            col3_dict[col3_num] = [text_line]
    col3_nums = list(col3_dict.keys())
    col3_nums.sort(reverse=True)
    for col3_num in col3_nums:
        for line in col3_dict[col3_num]:
            print(line)

sort_col3_desc()

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

In [7]:
# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる
def get_col1_appear_cnts():
    col1_cnt_dict = {}
    for text_line in text.splitlines():
        words = text_line.split('\t')
        col1_word = words[0]
        if col1_word in col1_cnt_dict:
            col1_cnt_dict[col1_word] += 1
        else:
            col1_cnt_dict[col1_word] = 1
    return col1_cnt_dict

def sort_appear_cnt(cnt_dict):
    cnt_val_dict = {}
    for cnt_word in cnt_dict:
        cnt = cnt_dict[cnt_word]
        if cnt in cnt_val_dict:
            cnt_val_dict[cnt].append(cnt_word)
        else:
            cnt_val_dict[cnt] = [cnt_word]
    cnt_list = list(cnt_val_dict.keys())
    cnt_list.sort(reverse=True)
    sorted_word_list = []
    for cnt in cnt_list:
        words = cnt_val_dict[cnt]
        for word in words:
            sorted_word_list.append(word)
    return sorted_word_list
    
col1_cnt_dict = get_col1_appear_cnts()
sorted_col1_list = sort_appear_cnt(col1_cnt_dict)
for col1 in sorted_col1_list:
    print(col1)

埼玉県
山形県
山梨県
群馬県
岐阜県
静岡県
愛知県
千葉県
高知県
和歌山県
愛媛県
大阪府