In [1]:
# 10. 行数のカウント

In [7]:
import urllib.request
with urllib.request.urlopen('http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt') as response:
    raw_text = response.read()
    text = raw_text.decode()
text_line_count = 0
for text_line in text.splitlines():
    text_line_count += 1
print(text_line_count)

24

In [8]:
# 11. タブをスペースに置換

In [11]:
space_separeted_text = text.replace('\t', ' ')
print(space_separeted_text)

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

In [12]:
# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [23]:
col1_words = []
col2_words = []
for text_line in text.splitlines():
    words = text_line.split('\t')
    col1_words.append(words[0])
    col2_words.append(words[1])
col1_text = '\n'.join(col1_words)
col2_text = '\n'.join(col2_words)
#print(col1_text)
#print(col2_text)
with open('col1.txt', mode='w') as f1, open('col2.txt', mode='w') as f2:
    f1.write(col1_text)
    f2.write(col2_text)
with open('col1.txt', mode='r') as f1, open('col2.txt', mode='r') as f2:
    print('=== 1列目 ===')
    print(f1.read())
    print('=== 2列目 ===')
    print(f2.read())

=== 1列目 ===
高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
=== 2列目 ===
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

In [24]:
# 13. col1.txtとcol2.txtをマージ

In [25]:
col1_text = ''
col2_text = ''
with open('col1.txt', mode='r') as f1, open('col2.txt', mode='r') as f2:
    col1_text = f1.read()
    col2_text = f2.read()
col1_words = col1_text.splitlines()
col2_words = col2_text.splitlines()
col1and2_words = zip(col1_words, col2_words)
col1and2_lines = []
for col1and2_word in col1and2_words:
    col1and2_lines.append('\t'.join(col1and2_word))
col1and2_text = '\n'.join(col1and2_lines)
with open('col1and2.txt', mode='w') as f:
    f.write(col1and2_text)
with open('col1and2.txt', mode='r') as f:
    print(f.read())

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋